<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cbbddd6f-86a9-4ae5-9bd1-76c9cf813afe/resourceGroups/AbbassResourceGroup/providers/Microsoft.Web/sites/BITServices</ResourceId>
    <ResourceGroup>AbbassResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bitservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bitservices.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BITServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BITServices</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BIT" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MsSqllocaldb;Initial Catalog=Abbass_Alasadi_BITdb;Integrated Security=True" Name="Data Source=(LocalDb)\MsSqllocaldb;    Initial Catalog=Abbass_Alasadi_BITdb;    Integrated Security=True " />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MsSqllocaldb;Initial Catalog=Abbass_Alasadi_BITdb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BIT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MsSqllocaldb;&#xD;&#xA;		 Initial Catalog=Abbass_Alasadi_BITdb;&#xD;&#xA;		 Integrated Security=True " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BIT-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MsSqllocaldb;    Initial Catalog=Abbass_Alasadi_BITdb;    Integrated Security=True </ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>